{% extends 'base/base.html' %}
{% block title %}
    在线课堂
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock %}
{% block main %}
<main id="course-container">
        <div class="w1200">
            <ul class="course-list">
                {% for course in courses %}
                <li class="course-item">
                    <a href="{% url 'course:course_detail' course.id %}">
                        <img class="course-img" src="{{ course.cover_url }}"
                            alt="潭州英语">
                        <div class="course-content">
                            <p class="course-info">{{ course.name }}</p>
                            <p class="course-author">讲师：{{ course.teacher.name }}</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </main>
{% endblock %}