{% extends 'base/base.html' %}
{% load my_filter %}
{% block title %}
    课程详情页
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/course/course-detail.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1477305_r4riec8l5a.css">
    <!-- 引入播放器 css 文件 -->
    <link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
    <!-- 如需在IE8、9浏览器中初始化播放器，浏览器需支持Flash并在页面中引入 -->
    <!--[if lt IE 9]>
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
    <![endif]-->
    <!-- 如果需要在 Chrome Firefox 等现代浏览器中通过H5播放hls，需要引入 hls.js -->
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/lib/hls.min.0.8.8.js"></script>
    <!-- 引入播放器 js 文件 -->
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
    <!-- 示例 CSS 样式可自行删除 -->
{% endblock %}
{% block main %}
    <!-- main start -->
        <main id="main">
  <div class="w1200">
    <div class="course-contain">
      <div class="course-top-contain">
        <h4 class="course-title">{{ course.name }}</h4>
        <div class="course-other clearfix">
          <div class="share-list">
            <span>分享至:</span>
            <i class="PyWhich py-weibo"></i>
              <i class="PyWhich py-GitHub" style="color: black"></i>
              <i class="PyWhich py-zhihu" style="color:rgb(0, 108, 226);"></i>
          </div>
          <div class="buy-list">
            <span class="price">免费</span>
          </div>
        </div>
      </div>
      <div class="course-video" id="course-video">
          <video id="player-container-id" preload="auto" width="800" height="400" playsinline webkit-playsinline x5-playsinline></video>
          <div class="play-box">
                <p class="play-title"><i class="iconfont icon-liebiaotubiao"></i>&nbsp;播放列表</p>
                <ul class="play-list">
                    {% for item in courses %}
                        <li class="play-item {% if course.id == item.id %}playing{% endif %}">
                            <a href="{% url 'course:course_detail' item.id %}">
                                <i class="iconfont icon-bofanganniu"></i>&nbsp;
                                <p class="play-name">{{ forloop.counter }}-{{ item.name }}</p>&emsp;
                                <span class="play-time">{{ item.duration|change }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
          </div>
      </div>
      <div class="course-bottom-contain">
        <div class="course-detail-list">
          <div class="course-item clearfix">
            <h5 class="course-title">课程讲师</h5>
            <div class="teacher-box clearfix">
              <img src="{{ course.teacher.avatar_url }}" alt="Which"
                   title="{{ course.teacher.name }}" class="teacher-avatar">
              <div class="teacher-info">
                <p class="teacher-name">{{ course.teacher.name }}</p>
                <p class="teacher-identify"> {{ course.teacher.profession }}</p>
              </div>
            </div>
            <div class="item-content">
              个人简介：{{ course.teacher.profile }}
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">课程简介</h5>
            <div class="item-content">
              {{ course.introduce }}
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">课程大纲</h5>
            <div class="item-content">
              <p>{{ course.outline }}</p>
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">帮助中心</h5>
            <div class="item-content">
              <p>1. 购买后的课程在线可反复观看学习，视频有效期以具体课程信息为准。 </p>
              <p>2. 课程暂不支持下载观看，均为在线观看视频。 </p>
              <p>3. 课程一经购买，不可转让、不可退款；仅限购买账号观看。</p>
              <p>4. 如有问题请咨询客服: 400-1567-315 </p>
            </div>
          </div>
        </div>
        <div class="course-side">
          <h4 class="side-title">推荐课程</h4>
        </div>
      </div>
    </div>
  </div>
</main>
    <!-- main end -->
{% endblock %}
{% block script %}
    <script>
        var player = TCPlayer("player-container-id", { // player-container-id 为播放器容器ID，必须与html中一致
                fileID: "{{ course.file_id }}", // 请传入需要播放的视频fileID 必须
                appID: "1300516389", // 请传入点播账号的appID 必须
                autoplay: false //是否自动播放
                //其他参数请在开发文档中查看
            });
    </script>
{% endblock %}