{% extends 'base/base.html' %}
{% block title %}
    404 not found
{% endblock %}
{% block link %}
    <style>
        .not-found{
            width: 1200px;
            height: 300px;
            margin: 20px auto;
            background-color: white;
            padding: 100px 0;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="not-found">
    <h1 align="center">汪汪！你想找的页面让我吃啦！</h1>
    <pre align="center">
        .----.
        _.'__  `.
        .--($) ($$)---/#\
        .' @         /###\
        :         ,  #####
        `-..__.-' _.-\###/
        `;_:    `"'
        .'"""""`.
        /, hi ,\\
        // 你好！\\
        `-.______.-`
        ___`.|.'___
        (_____|_____)
    </pre>
    </div>
{% endblock %}
