main{
    float: right;
    width: 840px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.filter-box{
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.filter-box form{
    display: inline-block;
}
.filter-box .chk-box{
    color: #4d4d4d;
    cursor: pointer;
}
.filter-sort-box{
    display: inline-block;
    margin-left: 250px;
    vertical-align: text-bottom;
}
.filter-sort-box dd:first-child{
    margin-right: 8px;
    color: #999;
}
.filter-sort-box dd{
    float: left;
    margin-left: 30px;
    color: #4d4d4d;
}
.filter-sort-box dd a:hover{
    color: #ca0c16;
}
.news-article-list .article-item{
    position: relative;
    margin-bottom: 1px;
    padding: 12px 24px;
    border-top: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.news-article-list .article-item h4{
    display: inline-block;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #3d3d3d;
    font-weight: bolder;
}
.news-article-list .article-item h4 a:hover{
    color: #ca0c16;
}
.news-article-list .article-item h4 span{
    display: inline-block;
    width: 34px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    color: #ca0c16;
    border: 1px solid #f4ced0;
}
.news-article-list .article-item .content{
    font-size: 14px;
    line-height: 22px;
    white-space: normal;
    color: #6b6b6b;
    word-wrap: break-word;
}
.news-article-list .article-item .info-box{
    position: relative;
    padding-top: 4px;
    font-size: 14px;
    color: #6b6b6b;
}
.news-article-list .article-item .info-box p{
    display: inline-block;
    color: #999;
    font-size: 13px;
    cursor: text;
}
.news-article-list .article-item .info-box .point{
    background-color: #e0e0e0;
    width: 1px;
    height: 12px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}
.aside-box{
    float: left;
    width: 350px;
    background-color: white;
    margin: 30px 0;
}
.aside-box .d-flex{
    float: left;
    width: 320px;
    padding: 15px;
    border-bottom: 2px solid rgb(232, 222, 222);
}
.aside-box .head-box .avatar-box{
    float: left;
    width:50px;
    height:50px;
}
.aside-box .head-box .avatar-box a{
    display: block;
    width: 50px;
    height: 50px;
}
.aside-box .head-box .avatar-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.aside-box .head-box .user-info{
    float: left;
    margin-left: 15px;
    width: 255px;
    height: 50px;
}
.aside-box .head-box .user-info p{
    height: 25px;
    line-height: 25px;
}
.aside-box .head-box .user-info p a:hover{
    color: orange;
}
.aside-box .head-box .user-info .user-name{
    font-size: 14px;
}
.aside-box .head-box .user-info .home-page{
    font-size: 12px;
    color: #3399ea;
}
.aside-box .head-box .user-info .common{
    display: inline-block;
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
.aside-box .head-box .user-info .personal-click{
    color: #f5a623;
    border: 1px solid #f5a623;
}
.aside-box .head-box .user-info .personal-click:hover{
    background-color: #f5a623;
    color: white;
}
.aside-box .head-box .user-info .tracking-click{
    color: #ca0c16;
    border: 1px solid #ca0c16;
}
.aside-box .head-box .user-info .tracking-click:hover{
    background-color: #ca0c16;
    color: white;
}
.aside-box .head-box .user-info .take-off{
    color: #999;
    border: 1px solid #999;
}
.aside-box .head-box .user-info .take-off:hover{
    background-color: #999;
    color: white;
}
.aside-box .data-info .text-center{
    float: left;
    width: 60px;
    height: 50px;
    text-align: center;
}
.aside-box .data-info .text-center dt, dd{
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.aside-box .data-info .text-center dd{
    font-weight: bolder;
}
.aside-box .grade-box p{
    display: inline-block;
    width: 45%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 10px;
}
/*.aside-box .article-box{*/
/*    height: 212px;*/
/*}*/
.aside-box .aside-title{
    font-size: 14px;
    font-weight: bolder;
}
.aside-box h3.aside-title::before{
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 4px;
    height: 22px;
    vertical-align: -6px;
    background-color: #ca0c16;
}
.aside-box .article-box .article-list{
    float: left;
    width: 320px;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.aside-box .article-box .article-list .article-item{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 8px;
}
.aside-box .article-box .article-list .article-item a{
    display: block;
    width: 320px;
    height: 30px;
}
.aside-box .article-box .article-list .article-item a:hover{
    color: #ca0c16;
}
.aside-box .category-box .category-list{
    float: left;
    width: 320px;
    font-size: 14px;
}
.aside-box .category-box .category-list li{
    margin-top: 16px;
    height: 32px;
    line-height: 32px;
}
.aside-box .category-box .category-list li a{
    display: block;
    width: 320px;
    height: 32px;
}
.aside-box .category-box .category-list li a img{
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 16px;
}
.aside-box .count{
    float: right;
    font-size: 12px;
    color: #858585;
}
.category-list li:hover{
    color: #ca0c16;
}
.aside-box .hot-article{
    float: left;
    width: 320px;
    font-size: 14px;
}
.aside-box .hot-article li{
    margin-top:8px;
}
.aside-box .hot-article li a{
    display: block;
    width: 100%;
    max-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*word-wrap: break-word;*/
    line-height: 1.625;
}
.aside-box .hot-article li a:hover{
    color: #ca0c16;
}
.aside-box .hot-article li p{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #858585;
}
.page-box{
    float: left;
    height: 30px;
    margin: 30px 220px;
}
.page-box li{
    float: left;
    /*width: 30px;*/
    height: 30px;
    border: 1px solid #ddd;
    color: #349EDF;
}
.page-box li:hover{
    background-color: orange;
    color: white;
}
.page-box li a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

a.disabled {
    pointer-events: none;
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}
.page-box .current_page{
    background-color: orange;
    color: white;
}
.page-box li .first-last{
    width: 80px;
    font-size: 14px;
}