{% extends 'base/base.html' %}
{% block title %}
    首页
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/news/index.css' %}">
{% endblock %}
{% block main-contain %}
    <div class="main-contain">
        <!-- banner start -->
        <div class="banner">
            <ul class="pic">

            </ul>
            <a href="javascript:void(0);" class="btn prev">
                <i class="PyWhich py-arrow-left"></i></a>
            <a href="javascript:void(0);" class="btn next">
                <i class="PyWhich py-arrow-right"></i></a>
            <ul class="tab">
                <!-- 按钮数量必须和图片一致 -->

            </ul>
        </div>
        <!-- banner end -->

        <!-- content start -->
        <div class="content">
            <!-- recommend-news start -->
            <ul class="recommend-news">
                {% for item in hot_news %}
                <li>
                    <a href="{% url 'news:news_detail' item.news.id %}" target="_blank">
                        <div class="recommend-thumbnail">
                            <img src="{{ item.news.image_url }}" alt="title">
                        </div>
                        <p class="info">{{ item.news.title }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <!-- recommend-news end -->

            <!--  news-nav start-->
            <nav class="news-nav">
                <ul class="clearfix">
                    <li class="active"><a href="javascript:void(0)" data-id="0">最新资讯</a></li>
                    {% for tag in tags %}
                        <li><a href="javascript:void(0)" data-id="{{ tag.id }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!--  news-nav end -->

            <!-- news-contain start -->
            <div class="news-contain">
                <ul class="news-list">

                </ul>
            </div>
            <!-- news-contain end -->

            <!-- btn-more start -->
            <a href="javascript:void(0);" class="btn-more">加载更多</a>
            <!-- btn-more end -->
        </div>
        <!-- content end -->
    </div>
{% endblock %}
{% block hot-news %}
    {% for hot in hot_news %}
        <li>
            <a href="{% url 'news:news_detail' hot.news.id %}" class="hot-news-contain clearfix">
                <div class="hot-news-thumbnail">
                    <img src="{{ hot.news.image_url }}"
                         alt="">
                </div>
                <div class="hot-news-content">
                    <p class="hot-news-title">{{ hot.news.title }}</p>
                    <div class="hot-news-other clearfix">
                        <span class="news-type">{{ hot.news.tag.name }}</span>
                        <!-- 自带的 -->
                        <time class="news-pub-time">{{ hot.news.update_time|date:'m月d日' }}</time>
                        <span class="news-author">{{ hot.news.author.username }}</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/news/index.js' %}"></script>
{% endblock %}