{% extends 'base/base.html' %}
{% block title %}
    文章详情页
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/news/news-detail.css' %}">
{% endblock %}
{% block main-contain %}
    <div class="news-contain">
      <h1 class="news-title">{{ news.title }}</h1>
      <div class="news-info">
        <div class="news-info-left">
          <span class="news-pub-time">{{ news.update_time }}</span>
            <span class="news-author"><a href="#">{{ news.author.username }}</a></span>
            <span class="news-pub-time">浏览量：{{ news.clicks }}</span>
          <span class="news-type">{{ news.tag.name }}</span>
        </div>
      </div>
      <article class="news-content">
        {{ news.content|safe }}
      </article>
      <div class="comment-contain">
        <div class="comment-pub clearfix">
          <div class="new-comment">
            文章评论(<span class="comment-count">{{ comment_count }}</span>)
          </div>
            {% if user.is_authenticated %}
                <div class="comment-control logged-comment" news-id="{{ news.id }}">
                    <input type="text" placeholder="请填写评论">
                    <button class="comment-btn">发表评论</button>
                </div>
            {% else %}
                <div class="comment-control please-login-comment" news-id="{{ news.id }}">
                    <input type="text" placeholder="请登录后参加评论" readonly>
                    <button class="comment-btn">发表评论</button>
                </div>
            {% endif %}
        </div>
        <ul class="comment-list">
            {% for one_comment in comments_list %}
                <li class="comment-item">
                    <div class="comment-info clearfix">
                        <img src="{{ one_comment.avatar_url }}" alt="avatar" class="comment-avatar">
                        <span class="comment-user">{{ one_comment.author }}</span>
                    </div>
                    <div class="comment-content">{{ one_comment.content }}</div>

                    {% if one_comment.parent %}
                        <div class="parent_comment_text">
                            <div class="parent_username">{{ one_comment.parent.author }}</div>
                            <br/>
                            <div class="parent_content_text">
                                {{ one_comment.parent.content }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="comment_time left_float">{{ one_comment.update_time }}</div>
                    <a href="javascript:;" class="reply_a_tag right_float">回复</a>
                    <form class="reply_form left_float" comment-id="{{ one_comment.content_id }}"
                          news-id="{{ one_comment.news_id }}">
                        <textarea class="reply_input"></textarea>
                        <input type="button" value="回复" class="reply_btn right_float">
                        <input type="reset" name="" value="取消" class="reply_cancel right_float">
                    </form>

                </li>
            {% endfor %}
        </ul>
      </div>

    </div>
{% endblock %}
{% block side %}
    <div class="aside-box">
        <div class="head-box d-flex">
            <div class="avatar-box">
                <a href="#"><img src="{{ news.author.avatar_url }}" alt=""></a>
            </div>
            <div class="user-info">
                <p><a href="#" class="user-name">{{ news.author.username }}</a></p>
                <p>
                    <a href="#" class="home-page">Ta的个人主页 ></a>
                    {% if user.id == news.author.id %}
                    {% else %}
                    <a href="#" class="personal-click common">私信</a>
                    <a href="javascript: void(0);" class="{% if focus_status %}take-off{% else %}tracking-click{% endif %} common" id="{{ user.id }}-{{ news.author.id }}">
                        {% if focus_status %}
                            取关
                        {% else %}
                            关注
                        {% endif %}
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="data-info d-flex">
            <dl class="text-center">
                <dt><a href="#">原创</a></dt>
                <dd><a href="#">{{ news_count }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">粉丝</a></dt>
                <dd><a href="#">{{ fans_count }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">获赞</a></dt>
                <dd><a href="#">0</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">评论</a></dt>
                <dd><a href="#">{{ total_comment }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">访问</a></dt>
                <dd><a href="#">{{ total_clicks }}</a></dd>
            </dl>
        </div>
        <div class="grade-box d-flex">
            <p><i class="fa fa-line-chart" aria-hidden="true"></i> 等级：<span style="color:orange;">v2</span></p>
            <p><i class="fa fa-bar-chart" aria-hidden="true"></i> 周排名：<span>13万+</span></p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> 积分：<span>178</span></p>
            <p><i class="fa fa-area-chart" aria-hidden="true"></i> 总排名：<span>31万+</span></p>
        </div>
        <div class="article-box d-flex">
            <h3 class="aside-title">最新文章</h3>
            <ul class="article-list clearfix">
                {% for latest in latest_news %}
                    <li class="article-item"><a href="{% url 'news:news_detail' latest.id %}">{{ latest.title }}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="category-box d-flex">
            <h3 class="aside-title">分类专栏</h3>
            <ul class="category-list clearfix">
                {% for tag in data_dict %}
                <li>
                    <a href="/news/category/{{ tag.id }}?author={{ news.author.username }}">
                        <img src="/media/tag.png" alt="">
                        <span>{{ tag.name }}</span>
                        <span class="count">{{ tag.news_count }}篇</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="hot-article d-flex">
            <h3 class="aside-title">热门文章</h3>
            <ul class="hot-article-list clearfix">
                {% for hot in hot_news %}
                <li>
                    <a href="{% url 'news:news_detail' hot.id %}">{{ hot.title }}</a>
                    <p>阅读数：<span>{{ hot.clicks }}</span></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/news/news_detail.js' %}"></script>
{% endblock %}


