<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1453123_keqxqqez6a.css">
    <style>
        .iconfont{
            font-size: 30px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<a id="change" href=""><span class="iconfont icon-iconfonttubiao_dianzan-kongxin"></span></a>
    <span class="iconfont icon-iconfonttubiao_dianzan-shixin"></span>
<script>
    var s = document.getElementById('change');
    s.click() = function () {
        
    }
</script>
</body>
</html>