{% extends 'base/base.html' %}
{% block title %}
    分类专栏
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/news/category.css' %}">
{% endblock %}
{% block main-contain %}
    <div class="column">
        <div class="info-box">
            <div class="category-img">
                <img src="/media/tag.png" alt="">
            </div>
            <div class="category-title">
                <h3>{{ tag.name }}</h3>
                <a href="{% url 'users:blog' %}">管理文章</a>
            </div>
            <div class="category-info">
                <p><span>关注数：0</span><span>文章数：{{ tag_data.news__count }}</span><span>访问量：{{ tag_data.news__clicks__sum }}</span></p>
            </div>
        </div>
        <ul class="category-article-list">

        </ul>
        <a href="javascript:void(0);" class="btn-more">滑动加载更多</a>
    </div>
{% endblock %}
{% block side %}
    <div class="aside-box">
        <div class="head-box d-flex">
            <div class="avatar-box">
                <a href="#"><img src="{{ author.avatar_url }}" alt=""></a>
            </div>
            <div class="user-info">
                <p><a href="#" class="user-name" id="{{ author.id }}">{{ author.username }}</a></p>
                <p>
                    <a href="#" class="home-page">Ta的个人主页 ></a>
                    <a href="#" class="personal-click common">私信</a>
                    <a href="#" class="tracking-click common">关注</a>
                </p>
            </div>
        </div>
        <div class="data-info d-flex">
            <dl class="text-center">
                <dt><a href="#">原创</a></dt>
                <dd><a href="#">{{ news_count }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">粉丝</a></dt>
                <dd><a href="#">0</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">获赞</a></dt>
                <dd><a href="#">0</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">评论</a></dt>
                <dd><a href="#">{{ total_comment }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt><a href="#">访问</a></dt>
                <dd><a href="#">{{ total_clicks }}</a></dd>
            </dl>
        </div>
        <div class="grade-box d-flex">
            <p><i class="fa fa-line-chart" aria-hidden="true"></i> 等级：<span style="color:orange;">v2</span></p>
            <p><i class="fa fa-bar-chart" aria-hidden="true"></i> 周排名：<span>13万+</span></p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> 积分：<span>178</span></p>
            <p><i class="fa fa-area-chart" aria-hidden="true"></i> 总排名：<span>31万+</span></p>
        </div>
        <div class="article-box d-flex">
            <h3 class="aside-title">最新文章</h3>
            <ul class="article-list clearfix">
                {% for latest in latest_news %}
                    <li class="article-item"><a href="{% url 'news:news_detail' latest.id %}">{{ latest.title }}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="category-box d-flex">
            <h3 class="aside-title">分类专栏</h3>
            <ul class="category-list clearfix">
                {% for tag in data_dict %}
                <li>
                    <a href="/news/category/{{ tag.id }}?author={{ author.username }}">
                        <img src="/media/tag.png" alt="">
                        <span>{{ tag.name }}</span>
                        <span class="count">{{ tag.news_count }}篇</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="hot-article d-flex">
            <h3 class="aside-title">热门文章</h3>
            <ul class="hot-article-list clearfix">
                {% for hot in hot_news %}
                <li>
                    <a href="{% url 'news:news_detail' hot.id %}">{{ hot.title }}</a>
                    <p>阅读数：<span>{{ hot.clicks }}</span></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/users/category.js' %}"></script>
{% endblock %}