{% extends 'base/base.html' %}
{% block title %}
    个人主页
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/users/home_page.css' %}">
{% endblock %}
{% block main %}
    <div class="page-header">
        <div class="container">
            <div class="content-center">
                <div class="profile-image"><img src="{{ author.avatar_url }}" alt=""></div>
                <h3>{{ author.username }}</h3>
                <div class="btn-group">
                    <a href="{% url 'users:news' author.username %}" class="btn">Ta的博文</a>
                    <a href="javascript: void(0);" class="btn">Ta的排名</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
