{% extends 'base/base.html' %}
{% block title %}
    {{ author.username }}的博客
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/users/news-list.css' %}">
{% endblock %}
{% block main %}
    <div class="w1200 clearfix">
        <div class="aside-box">
        <div class="head-box d-flex">
            <div class="avatar-box">
                <a href="{% url 'users:news' author.username %}"><img src="{{ author.avatar_url }}" alt=""></a>
            </div>
            <div class="user-info">
                <p><a href="{% url 'users:news' author.username %}" class="user-name" id="{{ author.id }}">{{ author.username }}</a></p>
                <p>
                    <a href="{% url 'users:hp' author.id %}" class="home-page">Ta的个人主页 ></a>
                    {% if user.id == author.id %}
                    {% else %}
                    <a href="#" class="personal-click common">私信</a>
                    <a href="javascript: void(0);" class="{% if focus_status %}take-off{% else %}tracking-click{% endif %} common" id="{{ user.id }}-{{ author.id }}">
                        {% if focus_status %}
                            取关
                        {% else %}
                            关注
                        {% endif %}
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="data-info d-flex">
            <dl class="text-center">
                <dt><a href="#">原创</a></dt>
                <dd><a href="#">{{ news_count }}</a></dd>
            </dl>
            <dl class="text-center">
                <dt>粉丝</dt>
                <dd>{{ fans_count }}</dd>
            </dl>
            <dl class="text-center">
                <dt>获赞</dt>
                <dd>0</dd>
            </dl>
            <dl class="text-center">
                <dt>评论</dt>
                <dd>{{ total_comment }}</dd>
            </dl>
            <dl class="text-center">
                <dt>访问</dt>
                <dd>{{ total_clicks }}</dd>
            </dl>
        </div>
        <div class="grade-box d-flex">
            <p><i class="fa fa-line-chart" aria-hidden="true"></i> 等级：<span style="color:orange;">v2</span></p>
            <p><i class="fa fa-bar-chart" aria-hidden="true"></i> 周排名：<span>13万+</span></p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> 积分：<span>178</span></p>
            <p><i class="fa fa-area-chart" aria-hidden="true"></i> 总排名：<span>31万+</span></p>
        </div>
        <div class="article-box d-flex">
            <h3 class="aside-title">最新文章</h3>
            <ul class="article-list clearfix">
                {% for latest in latest_news %}
                    <li class="article-item"><a href="{% url 'news:news_detail' latest.id %}">{{ latest.title }}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="category-box d-flex">
            <h3 class="aside-title">分类专栏</h3>
            <ul class="category-list clearfix">
                {% for tag in data_dict %}
                <li>
                    <a href="/news/category/{{ tag.id }}?author={{ author.username }}">
                        <img src="/media/tag.png" alt="">
                        <span>{{ tag.name }}</span>
                        <span class="count">{{ tag.news_count }}篇</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="hot-article d-flex">
            <h3 class="aside-title">热门文章</h3>
            <ul class="hot-article-list clearfix">
                {% for hot in hot_news %}
                <li>
                    <a href="{% url 'news:news_detail' hot.id %}">{{ hot.title }}</a>
                    <p>阅读数：<span>{{ hot.clicks }}</span></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        <main>
            <div class="filter-box">
                <form action="">
                    <label for="check" class="chk-box">
                        <input type="checkbox" name="t" value="1" id="check"> 只看原创
                    </label>
                </form>
                <dl class="filter-sort-box">
                    <dd>排序：</dd>
                    <dd><a href="{% url 'users:news' author.username %}" {% if order == '' %}style="color: #ca0c16;"{% endif %}>默认</a></dd>
                    <dd><a href="/users/{{ author.username }}?order=time" {% if order == 'time' %}style="color: #ca0c16;"{% endif %}>按更新时间</a></dd>
                    <dd><a href="/users/{{ author.username }}?order=visits" {% if order == 'visits' %}style="color: #ca0c16;"{% endif %}>按访问量</a></dd>
                </dl>
            </div>
            <ul class="news-article-list">
                {% for news in newses %}
                    <li class="article-item">
                    <h4>
                        <a href="{% url 'news:news_detail' news.id %}"><span>原创</span> {{ news.title }}</a>
                    </h4>
                    <p class="content">
                        <a href="{% url 'news:news_detail' news.id %}">{{ news.digest }}</a>
                    </p>
                    <div class="info-box">
                        <p><span>{{ news.update_time|date:'Y-m-d H:i:s' }}</span></p>
                        <p class="point"></p>
                        <p><span>阅读数：{{ news.clicks }}</span></p>
                        <p class="point"></p>
                        <p><span>评论数：{{ news.comment_count }}</span></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if num > 10 %}
                <ul class="page-box">
        <li><a class="first-last" href="{{ request.path }}?page=1">返回首页</a></li>
        <li>
            <a {% if page_num == 1 %}class="disabled"{% endif %} href="{{ request.path }}?page={{ page_num|add:'-1' }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </li>
        {% for page in page_list %}
            <li {% if page == page_num %}class="current_page"{% endif %}>
                <a href="{{ request.path }}?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}
        <li><a {% if page_num == total_page %}class="disabled"{% endif %} href="{{ request.path }}?page={{ page_num|add:'1' }}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
        <li><a class="first-last" href="{{ request.path }}?page={{ total_page }}">跳到末页</a></li>
    </ul>
            {% endif %}
        </main>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/users/category.js' %}"></script>
{% endblock %}

