{% extends 'users/register.html' %}
{% block title %}
    重置密码
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
    <style>
        .register-contain{
            height: 300px;
        }
    </style>
{% endblock %}
{% block section %}
    重置密码
{% endblock %}
{% block form %}
    <div class="form-item">
        <input type="password" placeholder="请输入新密码" id="pwd" name="password" class="form-control">
    </div>
    <div class="form-item">
        <input type="password" placeholder="请再次输入新密码" name="password_repeat" class="form-control">
    </div>
    <div class="form-item">
        <input type="submit" value="确认修改" class="register-btn">
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/users/reset.js' %}"></script>
{% endblock %}
